<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update doctor</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
</head>
<body>
<div class="form-container">
    <form action="#" th:action="@{/doctors/doctor-update}" th:object="${doctor}" method="post">
        <legend>Update doctor</legend>

        <div class="input-container">
            <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
            <label for="id">ID</label>
        </div>

        <div class="input-container">
            <input type="text" th:field="*{name}" id="name">
            <label for="name">Name</label>
        </div>

        <div class="input-container">
            <select th:field="*{position}" id="position">
                <option value="ортопед">ортопед</option>
                <option value="хірург">хірург</option>
                <option value="терапевт">терапевт</option>
            </select>
            <label for="position">Position</label>
        </div>

        <div class="input-container">
            <input type="number" th:field="*{cabinetNum}" id="cabinetNum">
            <label for="cabinetNum">Cabinet</label>
        </div>

        <div class="input-container">
            <select th:field="*{workTime}" id="workTime">
                <option value="8:00-12:00">8:00-12:00</option>
                <option value="13:00-17:00">13:00-17:00</option>
            </select>
            <label for="workTime">Work time</label>
        </div>

        <div class="input-container">
            <select th:field="*{service}" id="service">
                <option value="Ортопедична">Ортопедична</option>
                <option value="Хірургічна">Хірургічна</option>
                <option value="Терапевтична">Терапевтична</option>
            </select>
            <label for="service">Service</label>
        </div>

        <div class="input-container">
            <input type="number" th:field="*{contractId}" id="contractId">
            <label for="contractId">Contract ID</label>
        </div>

        <div class="input-container">
            <input type="number" th:field="*{salary}" id="salary">
            <label for="salary">Salary</label>
        </div>

        <div class="button-holder">
            <a href="/doctors/list"><input type="button" value="Back"></a>
            <input type="reset" id="reset" value="Reset">
            <input type="submit" id="submit" value="Submit">
        </div>
    </form>
</div>
<script th:src="@{/js/form.js}"></script>
</body>
</html>