<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update doctor</title>
</head>
<body>
<div align="center">
    <h2>Update doctor</h2>
    <form action="#" th:action="@{/doctors/doctor-update}" th:object="${doctor}" method="post">
        <label for="id">ID</label>
        <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
        <br/>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <br/>
        <label for="position">Position</label>
        <input type="text" th:field="*{position}" id="position" placeholder="Position">
        <br/>
        <label for="cabinetNum">Cabinet</label>
        <input type="number" th:field="*{cabinetNum}" id="cabinetNum" placeholder="Cabinet">
        <br/>
        <label for="workTime">Work time</label>
        <input type="text" th:field="*{workTime}" id="workTime" placeholder="Work time">
        <br/>
        <label for="service">Service</label>
        <input type="text" th:field="*{service}" id="service" placeholder="Service">
        <br/>
        <label for="contractId">Contract ID</label>
        <input type="number" th:field="*{contractId}" id="contractId" placeholder="Contract ID">
        <br/>
        <label for="salary">Salary</label>
        <input type="number" th:field="*{salary}" id="salary" placeholder="Salary">
        <br/>
        <input type="submit" value="Update doctor">
        <p><a href="/doctors/list">Back</a></p>
    </form>
</div>
</body>
</html>