<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create contract</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
</head>
<body class="page">
<div class="form-container">
    <form action="#" th:action="@{/contracts/contract-create}" th:object="${contract}" method="post">
        <legend>Create contract</legend>

        <div class="input-container">
            <input type="date" th:field="*{date}" id="date">
            <label for="date">Date</label>
        </div>

        <div class="input-container">
            <input type="number" th:field="*{sum}" id="sum">
            <label for="sum">Sum</label>
        </div>

<!--        <div style="background: aqua" class="button-holder">
            <input type="reset" id="reset" value="Reset">
            <input type="submit" id="submit" value="Submit">
        </div>

        <a style="background: aqua" href="/contracts/list"><input type="button" value="Back"></a>-->

        <div class="button-holder">
            <a href="/contracts/list"><input type="button" value="Back"></a>
            <input type="reset" id="reset" value="Reset">
            <input type="submit" id="submit" value="Submit">
        </div>
    </form>
</div>
<script th:src="@{/js/form.js}"></script>
</body>
</html>