<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update contract</title>
    <link rel="stylesheet" th:href="@{/myStyle.css}"/>
</head>
<body class="page">
<div class="formWrapper">
    <form class="entityForm" action="#" th:action="@{/contracts/contract-update}" th:object="${contract}" method="post">
        <fieldset>
            <legend>Update contract</legend>

            <label for="id">ID:</label>
            <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
            <br>

            <label for="date">Date:</label>
            <input type="date" th:field="*{date}" id="date" placeholder="Date">
            <br>

            <label for="sum">Sum:</label>
            <input type="number" th:field="*{sum}" id="sum" placeholder="Sum">
            <br>

            <div class="horizontalButtonWrapper">
                <div class="buttonsContainer">
                    <input class="button buttonSubmit" type="submit" value="Submit">
                </div>
            </div>
            <p><a href="/contracts/list">Back</a></p>
        </fieldset>
    </form>
</div>
</body>
</html>