<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create patient</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
</head>
<body>
<div class="form-container">
    <form class="entityForm" action="#" th:action="@{/patients/patient-create}" th:object="${patient}" method="post">
        <legend>Create patient</legend>

        <div class="input-container">
            <input type="text" th:field="*{name}" id="name">
            <label for="name">Name</label>
        </div>

        <div class="input-container">
            <input type="text" th:field="*{address}" id="address">
            <label for="address">Address</label>
        </div>

        <div class="input-container">
            <input type="number" th:field="*{medPolice}" id="medPolice">
            <label for="medPolice">Med. police</label>
        </div>

        <div class="input-container">
            <select th:field="*{sex}" id="sex">
                <option value="Ч">Ч</option>
                <option value="Ж">Ж</option>
            </select>
            <label for="sex">Sex</label>
        </div>
        <br>

        <input class="buttonSubmit" type="submit" value="Submit">
        <input class="buttonCancel" type="reset" value="Reset">

        <p><a href="/patients/list">Back</a></p>
    </form>
</div>
<script th:src="@{/js/form.js}"></script>
</body>
</html>