<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update patient</title>
    <link rel="stylesheet" th:href="@{/css/form.css}"/>
</head>
<body>
<div class="form-container">
    <form action="#" th:action="@{/patients/patient-update}" th:object="${patient}" method="post">
        <legend>Update patient</legend>

        <div class="input-container">
            <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
            <label for="id">ID</label>
        </div>

        <div class="input-container">
            <input type="text" th:field="*{name}" id="name">
            <label for="name">Name</label>
        </div>

        <div class="input-container">
            <input type="text" th:field="*{address}" id="address">
            <label for="address">Address</label>
        </div>

        <div class="input-container">
            <input type="number" th:field="*{medPolice}" id="medPolice">
            <label for="medPolice">Med. police</label>
        </div>

        <div class="input-container">
            <select th:field="*{sex}" id="sex">
                <option value="Ч">Ч</option>
                <option value="Ж">Ж</option>
            </select>
            <label for="sex">Sex</label>
        </div>

        <div class="button-holder">
            <a href="/patients/list"><input type="button" value="Back"></a>
            <input type="reset" id="reset" value="Reset">
            <input type="submit" id="submit" value="Submit">
        </div>
    </form>
</div>
<script th:src="@{/js/form.js}"></script>
</body>
</html>