<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create patient</title>
    <link rel="stylesheet" th:href="@{/myStyle.css}"/>
</head>
<body class="page">
<div class="formWrapper">
    <form class="entityForm" action="#" th:action="@{/patients/patient-create}" th:object="${patient}" method="post">
        <fieldset>
            <legend>Create patient</legend>

            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name">
            <br>

            <label for="address">Address:</label>
            <input type="text" th:field="*{address}" id="address" placeholder="Address">
            <br>

            <label for="medPolice">Med. police:</label>
            <input type="number" th:field="*{medPolice}" id="medPolice" placeholder="Med. police">
            <br>

            <label for="sex">Sex:</label>
            <select th:field="*{sex}" id="sex">
                <option value="Ч">Ч</option>
                <option value="Ж">Ж</option>
            </select>
            <br>

            <div class="horizontalButtonWrapper">
                <div class="buttonsContainer">
                    <input class="button buttonSubmit" type="submit" value="Submit">
                    <input class="button buttonCancel" type="reset" value="Reset">
                </div>
            </div>
            <p><a href="/patients/list">Back</a></p>
        </fieldset>
    </form>
</div>
</body>
</html>