<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update contract</title>
</head>
<body>
<h2>Update contract</h2>
<form action="#" th:action="@{/contract-update}" th:object="${contract}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="date">Date</label>
    <input type="text" th:field="*{date}" id="date" placeholder="Date">
    <br/>
    <label for="sum">Sum</label>
    <input type="number" th:field="*{sum}" id="sum" placeholder="Sum">
    <br/>
    <input type="submit" value="Update contract">
</form>
</body>
</html>